@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #000;

}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000;
    --foreground: #ededed;
    --foregroun: #3ac8de;
  }
}

body {
  background-color: var(--foreground);
  color: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
